---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const ontologia = [
  { name: 'Materialismo ontológico', url: '/materialismo-ontologico/' },
  { name: 'Dialéctica', url: '/dialectica/' },
  {
    name: 'Finalidad',
    url: '/finalidad',
  },
  { name: 'Causalidad', url: '/causalidad/' },
  {
    name: 'Existencia, Posibilidad, Necesidad',
    url: '/existencia/',
  },
  { name: 'Apariencia y Verdad', url: '/aparienciayverdad/' },
  { name: 'Televisión material y Televisión formal', url: '/tvmaterial/' },
  { name: 'Apariencias y verdades en la televisión', url: '/aparienciasyverdadestv/' },
  { name: 'Idea general y Ontología de la Corrupción', url: '/corrupcion/' },
];

const gnoseologia = [
  { name: 'Doctrina de las categorías ', url: 'categorias' },
  { name: 'Teoría filosófica (gnoseológica) de la ciencia', url: '/ciencia/' },
];

const antropologia = [
  { name: "Cuestiones proemiales", url: "/antropologia/" },
  { name: "Individuo y Persona", url: "/individuoypersona/" },
  { name: "Libertad", url: "/libertad/" },
  { name: "Sentido de la vida y religación", url: "/sentidodelavida/" },
  { name: "Filosofía de la religión", url: "/filosofiadelareligion/" },
  { name: "Fetichismo, Magia y Religión", url: "/fetichismo/" },
  { name: "Agnosticismo", url: "/agnosticismo/" },
  { name: "Filosofía de la cultura", url: "/filosofiadelacultura/" },

  { name: "Filosofía de la Historia", url: "/filosofiadelahistoria/" }
];

const filosofiadelahistoria = [
  { "name": "Teoría de las ciencias históricas", "url": "https://astro.build/" },
  { "name": "Reliquias", "url": "https://astro.build/" },
  { "name": "Pasado / Presente / Futuro", "url": "https://astro.build/" },
  { "name": "Reliquias y Relatos", "url": "https://astro.build/" },
  { "name": "Idea de Historia y sus determinacinones", "url": "https://astro.build/" },
  { "name": "Determinaciones de la idea de Historia como predicable de sujetos humanos", "url": "https://astro.build/" },
  { "name": "Determinaciones de la idea de Historia en función de la amplitud atribuida a su sujeto (el hombre)", "url": "https://astro.build/" },
  { "name": "Determinaciones de la idea de Historia en función de la estructura holótica atribuida al predicado (“historia”)", "url": "https://astro.build/" }
];

const eticaymoral = [
  { name: "Ética y moral", url: "/eticaymoral/" },
  { name: "Derechos humanos", url: "/derechoshumanos/" },
  { name: "Muerte, fallecimiento, eutanasia", url: "https://astro.build/" },
  { name: "Bioética", url: "https://astro.build/" },
  { name: "Tolerancia", url: "https://astro.build/" }
];

const filosofiapolitica = [
  { name: "Teoría de la Sociedad política y del Estado (parte ontológica)", url: "https://astro.build/" },
  { name: "Idea de Imperio", url: "https://astro.build/" },
  { name: "Idea de Nación", url: "https://astro.build/" },
  { name: "España como sociedad política: Unidad e Identidad", url: "https://astro.build/" },
  { name: "Estado de derecho", url: "https://astro.build/" }
];

const democracia = [
  { name: "Cuestiones proemiales", url: "https://astro.build/" },
  { name: "Estructura y Ontología", url: "https://astro.build/" },
  { name: "Materialismo / Idealismo político y democrático", url: "https://astro.build/" },
  { name: "Democracia realmente existente: Fundamentalismo, Funcionalismo y Contrafundamentalismo", url: "https://astro.build/" },
  { name: "Democracia como Institución: Nematología y Tecnología", url: "https://astro.build/" },
  { name: "Democracia y Corrupción: Corrupciones estructurales, nematológicas (ideológicas) y tecnológicas", url: "https://astro.build/" },
  { name: "Corrupciones no delictivas (ideológicas, nematológicas) de la democracia española", url: "https://astro.build/" }
]

const estetica=[
{ name: "Estética", url: "https://astro.build/" },
  { name: "Filosofia del arte", url: "https://astro.build/" },

]

---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-sky p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-13 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-5'>
        <Card color="#65a30d">
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              I. Cuestiones <a
                class='text-white'
                target='_blank'
                href='/preambulares/'>Prembulares</a
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Una introducción al materialismo Filosófico
            </p>
            <Button target={'_self'} href='/preambulares/'>
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <!--  Tamaño de la tarjeta -->
      <div class='col-span-4'>
          <Card color="white">
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            II. Ontología
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              ontologia.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>

      <div class='col-span-4'>
        <Card color ="#ef4444">
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>III. Gnoseología (Teoría de la ciencia)
        </h2>
        <ul class='flex gap-4 flex-wrap'>
          {
            gnoseologia.map((item) => (
              <li>
                <Pill>
                  <a
                    class='sanchez'
                    href={item.url}
                
                    title={`Go to ${item.name}`}
                  >
                    {item.name}
                  </a>
                </Pill>
              </li>
            ))
          }
        </ul>
      </Card>
    </div>  
     
    </section>


    <section id='about' class='grid md:grid-cols-13 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-6'>
        <Card color ="#EF4444">
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
          IV. Antropología
        </h2>

        <ul class='flex gap-4 flex-wrap'>
          {
            antropologia.map((item) => (
              <li>
                <Pill>
                  <a
                    class='sanchez'
                    href={item.url}
                    
                    title={`Go to ${item.name}`}
                  >
                    {item.name}
                  </a>
                </Pill>
              </li>
            ))
          }
        </ul>

      </Card>
    </div>
    
    <div class='col-span-6'>
      <Card color="#FABD00">
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
        V. Ética y moral
      </h2>
      <ul class='flex gap-4 flex-wrap'>
        {
          eticaymoral.map((item) => (
            <li>
              <Pill>
                <a
                  class='sanchez'
                  href={item.url}
                  title={`Go to ${item.name}`}
                >
                  {item.name}
                </a>
              </Pill>
            </li>
          ))
        }
      </ul>
    </Card>
  </div>




      <!--  Tamaño de la tarjeta -->
    <!--   <div class='col-span-6'>
          <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            V. Ética y moral
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              eticaymoral.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div> -->

      <div class='col-span-6'>
        <Card>
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
          VI. Filosofia política
        </h2>
        <ul class='flex gap-4 flex-wrap'>
          {
            filosofiapolitica.map((item) => (
              <li>
                <Pill>
                  <a
                    class='sanchez'
                    href={item.url}
                    target='_blank'
                    title={`Go to ${item.name}`}
                  >
                    {item.name}
                  </a>
                </Pill>
              </li>
            ))
          }
        </ul>
             
      </Card>
    </div>  


    <div class='col-span-6'>
      <Card>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
        VI.I Democracia como sociedad política
      </h2>
      <ul class='flex gap-4 flex-wrap'>
        {
          democracia.map((item) => (
            <li>
              <Pill>
                <a
                  class='sanchez'
                  href={item.url}
                  target='_blank'
                  title={`Go to ${item.name}`}
                >
                  {item.name}
                </a>
              </Pill>
            </li>
          ))
        }
      </ul>
    </Card>
  </div>

         
      <div class='col-span-6'>
        <Card>
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
          VII. Estética y Filosofia del arte
        </h2>
        <ul class='flex gap-4 flex-wrap'>
          {
            estetica.map((item) => (
              <li>
                <Pill>
                  <a
                    class='sanchez'
                    href={item.url}
                    target='_blank'
                    title={`Go to ${item.name}`}
                  >
                    {item.name}
                  </a>
                </Pill>
              </li>
            ))
          }
        </ul>
      </Card>
    </div>
      <!--  Tamaño de la tarjeta -->
    
       
     
    </section>

    <!-- <RecentBlogPosts /> -->
  </main>
</Layout>
